<script src="{{ site.baseurl }}/node_modules/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				hash: true,
				// mobile/touch support: visible nav arrows + swipe navigation
				controls: true,
				controlsTutorial: true,
				touch: true,
				progress: true,
				dependencies: [
					{ src: 'node_modules/reveal.js/plugin/markdown/marked.js' },
					{ src: 'node_modules/reveal.js/plugin/markdown/markdown.js' },
					{ src: 'node_modules/reveal.js/plugin/highlight/highlight.js' },
					{ src: 'node_modules/reveal.js/plugin/notes/notes.js', async: true }
				]
			});
		</script>
